    
    @import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&family=Smooch+Sans:wght@100..900&display=swap');

    @font-face {
    font-family: 'rasley';
    src: url('../fonts/rasleyheights_personal_use_only-webfont.woff2') format('woff2'),
         url('../fonts/rasleyheights_personal_use_only-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    display: swap;
}

   @font-face {
    font-family: 'stay';
    src: url('../fonts/') format('woff2'),
         url('../fonts/') format('woff');
    font-weight: normal;
    font-style: normal;
    display: swap;

}
    
    body{
        font-size: 18px;
       
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .smooth{
         font-family: "Smooch Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
    }
    
    img{
        width: 250px;
    }
    p{
        color: brown;

        &.yellow{
            color: yellow;
        }

        &.test.frites.coucou{
            font-size: 5rem;
        }

        &.test.frites.yellow{

            color: red;
        }

        .yellow{
            color:darksalmon;
            font-style: italic;
        }
    }

   

    a{
        text-decoration: none;
        color: palegreen;
    }

    #coucou.bonjour{
        color: darkgreen;
    }


    .btn{
        padding: 1rem 2rem;
        background: #000;
        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
        font-weight: 800;
        border-radius: 10px;
        border: 1px solid #000;
        transition: color .5s ease,
        background .5s ease;
        display: inline-block;
        
        &:hover{
            background: #fff;
            color: #000;
        }

        &.red{
            background: #ff0000;
            border: 1px solid #ff0000;
            &:hover{
                background: #fff;
                color: #ff0000;
            }
        }
    }

   

    #soir{
        :last-child{
            color: #ff0000;
        }
        p{
            color: black;
            &:first-child{
                color: green;
            }
            &:nth-child(2){
                color: orange;
            }

            &:nth-child(3n){
                color: aqua;
            }
        }
    }

    /***
    *
    *POSITIONS
    */


    .fixed{
        display: block;
        position: fixed;
        width: 50px;
        aspect-ratio: 1;
        background: #000;
        color: bisque;
        border-radius: 50%;
        text-align: center;
        align-content: center;
        z-index: 2;
        bottom:20px;
        right: 20px;
    }

    @keyframes turn {
        100%{
            rotate: 360deg;
        }
    }

    .sticky{
        background-color: red;
        height: 150vh;
        .ball{
            position: sticky;
            top:20px;
        
            width: 100px;
            animation: turn 5s infinite linear;
        }
    }


    

    .square{
        height: 200px;
        aspect-ratio: 1;
        background-color: aqua;
        position: relative;

        :nth-child(2),
        :nth-child(3){
            bottom: 10px;
           
        }

        :nth-child(3){
            left: 10px;
        }

        :nth-child(2){
            right: 10px;
        }

        span{
            display: block;
            height: 10px;
            aspect-ratio: 1;
            background-color: #000;
            border-radius: 50%;
            position: absolute;
            &:first-child,
            &:last-child{
                top:10px;
            }
            &:first-child{
                left:10px;
            }
            &:last-child{
                right:10px;
            }

        }

    }
  

